/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  font-size: 16px;
  font-family: monospace;
  z-index: 0;
}

body {
  background-color: #252839;
  color: #b5b5b7;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
  z-index: 0;
}

h2 {
  margin: 1rem;
}

p {
  font-size: 1rem;
  z-index: 0;
  margin: 0;
}

.user-choice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  width: 10rem;
  height: 10rem;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #b5b5b7;;
}

a:hover {
  color:#f2b632;
}


.list-tasks {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.task-details {
  list-style: none;
}

.task-tile {
  z-index: 0;
  width: 10rem;
  height: 10rem;
  padding: .5rem;
  align-items: center;
  margin: 4rem;
  border-radius: 1rem;
  border-color: #f2b632;
  border-width: thick;
  border-style: solid;
}

.single-task {
display:inline-block;
max-width: 10rem;
max-height: 10rem;
word-wrap: break-word;
/*wrap the link so it doesn't overflow - need to play with elipse more*/
/*white-space: nowrap;*/
overflow:hidden;
text-overflow: ellipsis;
}
