<table class = "single-task">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Completed At</th>
	</tr>

  <tr>
    <td><%= @selected_task.title %></td>
    <td><%= @selected_task.description %></td>
    <td><%= @selected_task.completed_at %></td>
  </tr>
</table>
