<h2><%= title %></h2>
<section class="persons-tasks">
  <table class="persons-tasks-table">
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </table>
</section>