<h1>All Task Owners</h1>
<h2><a class='task_button' href='/tasks'>Home</a></h2>
<h2><a class='task_button' href='/tasks/new'>Add a Task</a></h2>
<h2><a class='task_button' href='/people'>All Task Owners</a></h2>
<table>
	<tr>
		<th>All Task Owners</th>
	</tr>
	<% @people.each do |person|%>
		<tr>
			<td><%= link_to person.name, "/people/#{person.id}" %></td>
		<% end %>
	</tr>
</table>