<h2><%= @person.name %></h2>

<ul>
  <li><h3>Task Owner:</h3> <%= @person.name %></li>
  <li><h3>Tasks To Do:</h3>
    <% # @tasks returns a collection, but you can't see the contents unless you iterate over it %>
    <ul>
      <% @tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </ul>
  </li>
</ul>
