<h3>Tasks To Do</h3>
<div class="tasks">
  <div class="list_headers">
    <ul>
      <li>Tasks</li>
      <li>Description</li>
      <li>Date Added</li>
      <h1>show all

        <%@show_all.each do |entry| %>
          <%= link_to entry.title, "/task/#{entry.title}" %>: <%= entry.title %>
        <%end%>

        </h1>

</ul>
    </ul>
  </div>
</div>

<span class="spacer">
  <br></br>
</span>

<h3>Completed Tasks</h3>
<div class="tasks">
  <div class="list_headers">
    <ul>
      <li>Tasks</li>
      <li>Description</li>
      <li>Date Added</li>
    </ul>
  </div>
</div>
