<a href='/create-task'>
  <div class = "new-task">
      <p>New task</p>
  </div>
</a>
<section>
  <span class = "column-title">
    <h2>Tasks to do:</h2>
  </span>

  <%= render :partial => 'task', :object => @uncompleted_tasks %>

</section>
<section>

  <span class = "column-title">
    <h2>Completed tasks:</h2>
  </span>

  <%= render :partial => 'task', :object => @completed_tasks %>

</section>
