<!-- info about one task-->
<section class="tasklist_show">
  <div class="tasklist_name">
  <h2>Name: <%= @tasks.person.name %></h2>
  </div>
  <div class="tasklist_description"
    <h3>Description<%= @tasks.description %></h3>
  </div>
  
    <% if @tasks.completed_at %>
    <h3>Completed?<%= @tasks.completed_at%></h3>
    <% end %>

    <h3>Completion<%= @tasks.completion_status %></h3>
</section>
