<% @people = @people.first %>

<!-- <h1><%= @people.name %>, get your shit done. </h1> -->
<h1> <%= @people.name %></h1>
<ul>
  <li> Age: <%= @people.age %></li>
  <li> Catchphrase: "<%= @people.catchphrase %>"</li>
</ul>
