<h1 class = "Bytitle">Task List</h1>


</li>

 <li>
   <%=@all_tasklist.title%>
 </li>
   <li>
     <%=@all_tasklist.description%>
   </li>

   <li>
     <%=@all_tasklist.completed_at%>
   </li>

</li>

<%# I didn't need the each because it only returned one thing and wasn't an array"%>


</ul>

<%= link_to "home", root_path%>
