html {
	font-family: 'Quicksand', sans-serif;
}

body {
	margin-top: 0rem;
  background: url(cloudsart.jpg) center repeat;
	text-align: center;
}

h1 {
  font-size: 3rem;
	color: #03577B;
}

a {
	text-decoration: none;
  color: navy;
}

a:hover {
    text-decoration: underline;
}

// table, th, td {
// 	border: .15rem solid black;
// }

table.all-tasks {
	background-color: rgba(255, 255, 255, 0.35);
	border: .2rem solid #03577B;
	border-radius: 5rem;
	width:30%;
	margin-left:35%;
	margin-right:35%;
}

table.single-task {
	background-color: rgba(255, 255, 255, 0.35);
	border: .2rem solid #03577B;
	border-radius: 2.5rem;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	border-spacing: 0rem;
}

th, td {
  padding: .75rem;
}

th {
  font-size: 1.25rem;
	color: #04709F;
	border-bottom: .15rem solid #03577B;
	margin: 0rem;
}

table {
  margin-bottom: 3rem;
}
