html {
	font-family: 'Quicksand', sans-serif;
	height: auto;
}

body {
	margin-top: 0rem;
	text-align: center;
	// background: url(cloudsart.jpg) center repeat;
	background-color: lightblue;
}

h1 {
  font-size: 4rem;
	color: #03577B;
  margin-bottom: 1rem;
}

nav {
	background-color: #03577B;
	margin-bottom: 2rem;
}

nav a {
  display: inline-block;
  padding: 1rem;
	color: white;
}

a {
	text-decoration: none;
  color: navy;
}

a:hover {
    text-decoration: underline;
}

// table, th, td {
// 	border: .15rem solid black;
// }

table.all-tasks {
  text-align: left;
	background-color: rgba(255, 255, 255, 0.35);
	border: .2rem solid #03577B;
	// border-radius: 5rem;
	width:40%;
	margin-left:30%;
	margin-right:30%;
  border-spacing: 0rem;

}

.center {
  text-align: center;
}

table.single-task {
	background-color: rgba(255, 255, 255, 0.35);
	border: .2rem solid #03577B;
	// border-radius: 2.5rem;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	border-spacing: 0rem;
}

th, td {
  padding: .75rem;
}

th {
  font-size: 1.50rem;
	color: #04709F;
	border-bottom: .15rem solid #03577B;
	margin: 0rem;
}

tr:nth-child(even) {
  background-color: lightblue;
}

table {
  margin-bottom: 3rem;
}

input[type=text] {
  	padding: .5rem;
		background-color: white;
		border: .2rem solid #03577B;
		border-radius: 2.5rem;
		width:20%;
    // margin: 8px 0;
}

// input[type=button], input[type=submit], input[type=reset] {
// 		background-color: lightblue;
//     border: .2rem solid #03577B;
// 		font-size: .75rem;
//     color: navy;
//     padding: 16px 32px;
//     text-decoration: none;
//     margin: 4px 2px;
//     cursor: pointer;
// }
