<p>Find me in app/views/tasks/index.html.erb</p>

<ul class="list-tasks">

<% @tasks.each do |task| %>
  <li class="to-do task-tile">
    <%= link_to "#{task.title}", "/tasks/#{task.id}", class: "single-task"%>
  </li>

<% end %>

</ul>
