<h1 class="top-bar">omfg here is your task</h1>
<div class="task-container">
  <p class="task-item">
    <%= @tasks.task_name %><br/>
    <%= @tasks.task_description %><br/>
    <%= @tasks.task_completion %><br/>
  </p>
</div>