<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<ul>

<% @tasks.each do |task| %>
  <li>
    Title: <%= task.title%>
    <ul>
      <li>
        Description: <%= task.description%>
      </li>
      <li>
        Added at: <%= task.added_at%>
      </li>
      <li>
        Completed at: <%= task.completed_at%>
      </li>
    </ul>
  </li>

<% end %>

</ul>
