// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: #D4C29B;
}

h1 {
	color: #D4C29B;
	background-color: black;
	height: 75px;
	font-weight:normal;
	padding-top: 25px;
}

.task_button {
	text-decoration: none;
	background-color: black;
	color: #D4C29B;
	padding: 4px;
	border-radius: 7px;

}
ul {
	list-style-type: none;
	// text-align: center;
}

table {
	width: 100%;
}

td {

	padding: 5px;

}

tr {
	// padding: 5px;
	background-color: #D49BCA;
	// text-align: center;
}

tr:hover {
	background-color: #755780;
}

// li:nth-child(odd) {
// 	background-color: #D49BC9F;
// }

// a {
// 	font-decoration: none;
// 	font-color: black;
// }