// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/***** GLOBAL *****/

body {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  margin: 0;
}

header {
  background-color: pink;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

form {
  margin: 1rem;
}

/***** INDEX *****/

.add_link {
  font-family: 'Coming Soon', cursive;
  display: block;
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
}

.tasklist {
  padding: 0;
  list-style-type: none;
}

.incomplete {
  width: 30%;
  background-color: pink;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 15%;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: 1.25rem;
}

.options {
  margin: 0 0.25rem;
  font-size: smaller;
  list-style-type: none;
  text-align: right;
}

.options li {
  display: inline;
}

.options form {
  margin: 0;
  display: inline;
}

.complete {
  width: 30%;
  background-color: yellow;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 15%;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: 1.25rem;
}

/***** SHOW TASK *****/

.task_info {
  padding: 0;
  list-style-type: none;
}

.task_info li {
  width: 30%;
  background-color: pink;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 15%;
  font-size: 1rem;
}

.task_info h3 {
  margin: 0.25rem;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}
