
<h1>More Info</h1>

<%=@all_people.name%>

<%=link_to 'all_tasklist', "/people/#{@person.id}/all_tasks"%>





<li>
  <%= link_to "home", root_path%>
</li>

<li>

<%= link_to "People", '/people'%>
</li>
