<footer>
  <span class="copyright">© 2016 lisa<span class="small-heart">❤︎</span>sano</span>
  <%= link_to "mailto:lisa.sano@gmail.com?Subject=Hey%20Lisa" do %>
    <i class="fa fa-envelope-o"> Contact me!</i>
  <% end %>
</footer>