<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Give+You+Glory', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>